<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="~/Menu.aspx" loginUrl="~/Acceso.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>

    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <!--<add namespace="System.Web.Optimization" />-->
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <!--<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />-->
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="cn1" connectionString="Data Source=.;UID=sa; PWD=S1stemas;Initial Catalog=BDLOGISTICA" providerName="System.Data.SqlClient"/>
    <!--<add name="BDNotasConnectionString" connectionString="Data Source=.;Initial Catalog=BDNotas;User ID=sa;Password=S1stemas" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>